@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

button,
a,
[role="button"] {
  cursor: pointer !important;
  pointer-events: auto !important;
}

button:disabled {
  cursor: not-allowed !important;
  pointer-events: auto !important;
}

input,
select,
textarea {
  cursor: text;
  pointer-events: auto !important;
}
